* {
    margin:0;
    padding:0;
}
html, body {
    width: 100%;
}

body {
    display:grid;
    grid-template-rows: auto auto 1fr auto;
}

        /* top header CSS */
.header-top {
    display:flex;
    justify-content: center;
    background-color: aqua;
}
.logo {
    width: 50%;
    height: auto;
}

        /* navbar CSS */

.header-bottom > nav{
    display:none;
}

#nav-toggle:checked ~ nav {
    display:block;
}
