footer {
    background-color: var(--icon-neutral);
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
}

.social-tags {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.social-tags > i {
    display:flex;
    font-size: 50px;
    margin:0;
    margin:0.3em;
    transition: color 1s;
}
.social-tags > i:hover {
    color: var(--textcolor-light);
    transition: color 0.2s;
}

.imgstyling {
    margin-top: 3em;
    display: grid;
    align-self: center;
    justify-self: center;
    width: min(50%, 600px);
    height: auto;
}
.footer-bottom {
    background-color: var(--icon-dark);
    text-align: center;
    padding: 1em;

}

.footer-bottom a {
    text-decoration: none;
    color:white;
}