.föreläs-section{
    display:flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 3em;
}

.lecture-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    
   & .card {color:var(--textcolor-light);}
}

.card, .lecture-text {
    flex: 1;
}
.card {
    padding: 3em;
    width:75vw;
    text-align: center;
}
.lecture-text {
    padding:1em 1em;
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--background-dark);
    /* height:9em; */
}
.lecture-text {
    display:flex;
}

@media (min-width:700px) {
    
    .lecture-container {
        display:flex;
        flex-direction: row;
    }
    .reversed {
    flex-direction: row-reverse;    
    }
    .card, .lecture-text {
    flex:1;
    padding:3em;
}
}