.föreläs-section{
    display:flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 3em;
}

.lecture-container {
    display:flex;
    flex-direction: row;
}

.card, .lecture-text {
    flex:1;
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    height:9em;
}
.lecture-text {
    display:flex;
}

.reversed {
    flex-direction: row-reverse;
}

@media (min-width:700px) {
    .föreläs-section {
        grid-template-columns: 1fr 1fr;
    }
}