.föreläs-section{
    display:grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 1em;

    margin-top: 3em;
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    height:9em;
}


@media (min-width:700px) {
    .föreläs-section {
        grid-template-columns: 1fr 1fr;
    }
}