        /* navbar CSS */
.header-bottom {
    position: fixed;
    top:0;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 168, 168, 0.9);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index:9999;
}

        /*Hamburger-menu*/
.header-bottom > nav {
    display: none;
}
#nav-toggle {
    left:-99999px;
    position: absolute;
}
.fa-bars:before {
    font-size:300%;
    color:white;
}
#nav-toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
}

#nav-toggle ~ nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 255, 255, 0.7);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 99;
    min-height: fit-content;
    width: 50%;
    min-width: fit-content;
}

#nav-toggle ~ nav > a {
    text-decoration: none;
    font-size: 200%;    
    font-weight: bold;
    color: #00162D;
    padding: 0.5rem 1rem;
}

#nav-toggle ~ nav > a:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 700px) {
    .header-bottom > nav {
        display: flex !important;
        flex-direction: row !important;
        gap: 1rem !important;
        position: static !important;
        top: auto !important;
        left: auto !important;
        background: none !important;
        box-shadow: none !important;
        width: 100% !important;
        min-width: unset !important;
    }

    #nav-toggle, label[for = "nav-toggle"] {
        display: none;
    }
 
}