/* navbar CSS */

.header-bottom {
    position: fixed;
    top:0;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    background-color: var(--background-dark);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    z-index:9999;
}

.header-bottom img {
    margin: 0.5em 1em;
        width:80px;
        height: auto;
}


/*Hamburger-menu*/
.header-bottom > nav {
    display: none;
}

.header-bottom > nav a {
    display: flex;
    align-items: center;
}

/* Hide Checkbox*/
#nav-toggle {
    left: -99999px;
    position: absolute;
}

.fa-bars::before {
    font-size: 300%;
    color: var(--textcolor-light);
    cursor: pointer;
    transition: font-size 0.3s;
}

label[for="nav-toggle"] {
    display: flex;
    justify-content: center;
    height: 100%;
}
label[for="nav-toggle"]:hover {
    font-size:105%;
}

/* Show dropdown*/
#nav-toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
}

/* Dropdown Styling*/
#nav-toggle ~ nav {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--background-dark);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 99;
    width: 50%;
}

#nav-toggle ~ nav a {
    text-decoration: none;
    font-size: 1.5em;    
    font-weight: bold;
    color: var(--textcolor-light);
    padding: 0.5rem 1rem;
}

#nav-toggle ~ nav a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--icon-dark);
    transition: background-color 0.3s ease, color 0.3s ease;
}


@media (min-width: 700px) {

    .header-bottom { 
        align-items: stretch;
        padding: 0;
}

    .header-bottom > nav {
        display: flex;
        flex-direction: row !important;
        justify-content: flex-end;
        position: static !important;
        background: none !important;
        box-shadow: none !important;
    }

    #nav-toggle, label[for = "nav-toggle"] {
        display: none;
    }
 
}