.schedule-grid{
    margin-top: 9em;
    display:grid;
    grid-template-columns: auto 1fr;
    width:40vw;
    border: 1px solid black;
    outline: 2px solid black;
    
    & h2 {
        justify-self: center;
    }
    & p {
        border: 1px solid black;
        outline-offset: -1px;
    }
    & p, h2{ 
        padding:0.2em;
    }
}

.schedule-grid p:nth-child(4n+2), 
.schedule-grid p:nth-child(4n+3) {
  background-color: var(--background-neutral); 
}