:root {
    --background-light: white;
    --background-neutral:  #ddfffa;
    --background-dark:  rgba(0, 168, 168, 0.9);
    --icon-light: white;
    --icon-neutral:  rgb(135, 147, 255);
    --icon-dark: #03162D;
    --seperatorshadow-neutral:#badad5;
    --textcolor-light: white;
    --textcolor-dark: #03162D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/* HERO CSS */


.hero-section {
    position: relative;  
    color: var(--textcolor-light);
    height:100vh;    
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(../images/hero-index.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section > img {
    width: 300px;
    height: auto;
}
.border-right {
    border-right: 3px solid white;
}
.hero-text {
    font-weight: bold;
    /* font-size: 150%; */
    padding-top: 0.5em;   
}


/* GUEST SPEAKER CSS*/


.left-right {
    display:grid;
    background-color: var(--background-neutral);
    font-size: 150%;
    box-shadow: 0 1px 4px  var(--seperatorshadow-neutral);
}
.LR-text {
    padding:60px 10px 50px 10px;
    text-align: center;
}
.LR-text h2 {
    font-size: 200%;
    margin:0 50px;
    border-bottom: 3px solid black;
}
.LR-text p + p {
    margin-top: 1em;
}
.left-right > img {
    width: 100%;
    height: auto;
}


/*ABOUT CSS*/


.about {
    margin:3em 2em;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 1em;
    align-items: right;
    justify-content: center;
    font-size: 150%;

    & h2 + p {margin-top: 0.3em;}
}
.about-text {
    
}
.about-info {
    position: relative;
    background-color: var(--background-dark);
    height:9em;

    & div {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
    }
}
.fade1, .fade2, .fade3 {
    opacity: 0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.fade1 {       
        animation-name: fade1;    
}
.fade2 {
        animation-name: fade2;
}
.fade3 {
        animation-name: fade3;
}


@keyframes fade1 {
    0%, 20%, 100% {opacity: 1;}
    30%, 90% {opacity:0;}
}
@keyframes fade2 {
    0%, 20%, 60%, 100% {opacity: 0;}  
    30%, 50% {opacity:1;}
}
@keyframes fade3 {
    0%, 50%, 100% {opacity: 0;}
    60%, 90% {opacity:1;}
}

@media (min-width: 700px){
    .left-right {
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }
    .LR-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .left-right > img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }


    .about {
        margin:3em 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        align-items: right;
        justify-content: center;
        font-size: 150%;

        & h2 + p {margin-top: 0.3em;}
    }
    
    .about-info {
    grid-column: 1;
    grid-row:1;
    }

}