:root {
    --background-light: white;
    --background-neutral:  #ddfffa;
    --background-dark:  #006161ec;
    --icon-light: white;
    --icon-neutral:  #2cbebe;
    --icon-dark: #03162D;
    --seperatorshadow-neutral:#badad5;
    --textcolor-light: white;
    --textcolor-dark: #00040A;

    --text-small: 0.9em;
    --text-medium: 1em;
    --text-bigger: 1.7em;
    --text-large: 2em;
    --text-xlarge: 3em;
}

h1 { font-size: var(--text-xlarge); }
h2 { font-size: var(--text-large); }
h3 { font-size: var(--text-bigger); }
p { font-size: var(--text-medium); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* HERO CSS */
.hero-section {
    position: relative;  
    color: var(--textcolor-light);
    height:100vh;    
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/hero-index.webp); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section > img {
    width: 300px;
    height: auto;
}
.border-right {
    border-right: 3px solid white;
}
.hero-text {
    font-weight: bold;
    padding-top: 0.5em;   
}


/* GUEST SPEAKER CSS*/
.left-right {
    display:grid;
    background-color: var(--background-neutral);
    box-shadow: 0 1px 4px  var(--seperatorshadow-neutral);
}
.LR-text {
    padding:60px 10px 50px 10px;
    text-align: center;
}
.LR-text h2 {
    margin:0 50px;
    border-bottom: 3px solid black;
}
.LR-text p + p {
    margin-top: 1em;
}
.left-right > img {
    width: 100%;
    height: auto;
}


/*ABOUT CSS*/
.about {
    margin:3em 2em;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1em;
    row-gap: 1em;
    justify-content: center;
}

.about-info {
    position: relative;
    background-color: var(--background-dark);
    height:12em;
}

.about-info > div {
    color: var(--textcolor-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.fade1, .fade2, .fade3 {
    opacity: 0;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.fade1 {       
        animation-name: fade1;    
}
.fade2 {
        animation-name: fade2;
}
.fade3 {
        animation-name: fade3;
}


@keyframes fade1 {
    0%, 20%, 100% {opacity: 1;}
    30%, 90% {opacity:0;}
}
@keyframes fade2 {
    0%, 20%, 60%, 100% {opacity: 0;}  
    30%, 50% {opacity:1;}
}
@keyframes fade3 {
    0%, 50%, 100% {opacity: 0;}
    60%, 90% {opacity:1;}
}

@media (min-width: 700px) {
    :root {
        --text-small: 0.9em;
        --text-medium: 1.1em;
        --text-bigger: 2.7em;
        --text-large: 3em;
        --text-xlarge: 4em;
    }
    .left-right {
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }
    .LR-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .left-right > img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }


    .about {
        margin:3em 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        justify-content: center;
    }
    
    .about-info {
    grid-column: 1;
    grid-row:1;
    }

}